commit.txt

dev_requirements.txt
build/
sources/
dist
.DS_Store
commit.txt
commit.org
*.pickle
*.pyc
**/*.egg-info/
tmp.txt
tmp.py
tmp*
*~
.#*
*.*~
.pytest_cache
*cache*
*.zip
.coverage
.venv/

bin/
cache/


node_modules
*node_modules*
/dist


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Sensitive files
*secret*
.env
.env*
*.env

# Cruft
.DS_Store
npm-debug.log
.idea
commit.txt
commit.org
**/*.egg-info/
*.pyc
tmp.txt
tmp.py
*~
.#*
tmp*
*tmp*

# local env files
.env.local
.env.*.local
